.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.search-autocomplete-container input{
    font-size: large;
    padding: .4rem .8rem;
    border-radius: 1.2rem;
    
} 

ul li{
    list-style: none;
    margin-top: .8rem;
    cursor: pointer;
}

